.achieve
{
 width: 100vw;
 min-height: 100vh;
 /* background: linear-gradient(to top, #252525 0%,  #000000 80%); */

}
.achieve .cover
{
    
    width: 100vw;
    min-height: 90vh;
    background-position:center;
    /* background-image: url("../../images/bg1.png"); */
   
    
}

.achieve .heading
{
    color: white;
    font-family: myFont;
    font-size: 30px;
    letter-spacing: 2px;
    width: 100vw;
    padding-left:3vw;
    position:sticky;
    top:0;
 
}

.achieve .content
{
    width: fit-content;
    border-bottom: 1px solid #fff;
   
    margin-bottom: 50px;
}
.achieve .scroll
{
    padding-bottom: 100px;
  
  
}
.achieve .padding
{
    padding-left:15vw;
    padding-right:  15vw;
}

.achieve .scroll-scrollbar {
    width: 0px;
  }

  @media screen and (max-width: 1024px) {
    .achieve .content
    {
        width: 32vw;
    }
    .achieve .heading
    {
        font-size: 25px;
    }
  }
  @media screen and (max-width: 576px) {
    .achieve .content
    {
        width: 63vw;
        text-align: center;
    }
    .achieve .padding
    {
        padding:1vw;
    }
    .achieve .heading
    {
        font-size: 6vw;
        padding-left: 20vw;
    }
  }